Repository microsoft/fluentui-contrib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-prg, @microsoft/fluentui-react-build, @microsoft/ms-fabric, @microsoft/cxe-prg, @marcosmoura, @spmonahan

.github/CODEOWNERS:

#### Packages
packages/react-chat/ @microsoft/teams-prg
packages/react-data-grid-react-window/ @microsoft/teams-prg
packages/react-shadow/ @microsoft/teams-prg
packages/nx-plugin/ @microsoft/teams-prg @microsoft/fluentui-react-build
packages/react-data-grid-react-window-grid/ @microsoft/ms-fabric
packages/react-draggable-dialog/ @microsoft/cxe-prg @marcosmoura
packages/pierce-dom @spmonahan
# <%= NX-CODEOWNER-PLACEHOLDER %>

#### Build/Infra
/.github/ @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/beachball.config.js @microsoft/fluentui-react-build
/beachball.hooks.js @microsoft/fluentui-react-build
/babel.config.json @microsoft/fluentui-react-build
/jest.config.ts @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/nx.json @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.prettierignore @microsoft/fluentui-react-build
/.prettierrc @microsoft/fluentui-react-build
/.editorconfig @microsoft/fluentui-react-build
/.eslintignore @microsoft/fluentui-react-build
/.eslintrc.json @microsoft/fluentui-react-build
/.yarnrc @microsoft/fluentui-react-build
/.yarn/ @microsoft/fluentui-react-build

#### License and READMEs
/LICENSE @microsoft/teams-prg
/README.md @microsoft/teams-prg @microsoft/fluentui-react-build
/CONTRIBUTING.md @microsoft/teams-prg
/CODE_OF_CONDUCT.md @microsoft/teams-prg
/SECURITY.md @microsoft/teams-prg
/SUPPORT.md @microsoft/teams-prg

feature: adds playwright component test to NX plugin
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  packages/nx-plugin/executors.json
  packages/nx-plugin/generators.json
  packages/nx-plugin/package.json
  packages/nx-plugin/src/executors/playwright/executor.ts
  packages/nx-plugin/src/executors/playwright/schema.d.ts
  packages/nx-plugin/src/executors/playwright/schema.json
  packages/nx-plugin/src/generators/component-playwright-spec/files/src/components/__componentName__/__componentName__.spec.tsx.template
  packages/nx-plugin/src/generators/component-playwright-spec/generator.spec.ts
  packages/nx-plugin/src/generators/component-playwright-spec/generator.ts
  packages/nx-plugin/src/generators/component-playwright-spec/schema.d.ts
  packages/nx-plugin/src/generators/component-playwright-spec/schema.json
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright.config.ts.template
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright/index.html.template
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright/index.tsx.template
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.spec.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/schema.d.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/schema.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/teams-prg

feature(nx-plugin): adds playwright executor and generators (#95)
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  packages/nx-plugin/executors.json
  packages/nx-plugin/generators.json
  packages/nx-plugin/package.json
  packages/nx-plugin/src/executors/playwright/executor.ts
  packages/nx-plugin/src/executors/playwright/schema.d.ts
  packages/nx-plugin/src/executors/playwright/schema.json
  packages/nx-plugin/src/generators/component-playwright-spec/files/src/components/__componentName__/__componentName__.spec.tsx.template
  packages/nx-plugin/src/generators/component-playwright-spec/generator.spec.ts
  packages/nx-plugin/src/generators/component-playwright-spec/generator.ts
  packages/nx-plugin/src/generators/component-playwright-spec/schema.d.ts
  packages/nx-plugin/src/generators/component-playwright-spec/schema.json
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright.config.ts.template
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright/index.html.template
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright/index.tsx.template
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.spec.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/schema.d.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/schema.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/teams-prg

feat(react-tree-grid): adds virtualization support
  package.json
  packages/react-tree-grid/package.json
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.tsx
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.types.ts
  packages/react-tree-grid/src/components/TreeGrid/index.ts
  packages/react-tree-grid/src/components/TreeGridCell/TreeGridCell.tsx
  packages/react-tree-grid/src/components/TreeGridCell/TreeGridCell.types.ts
  packages/react-tree-grid/src/components/TreeGridCell/index.ts
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.tsx
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.types.ts
  packages/react-tree-grid/src/components/TreeGridRowGroup/TreGridRow.types.ts
  packages/react-tree-grid/src/components/TreeGridRowGroup/TreeGridRowGroup.tsx
  packages/react-tree-grid/src/components/TreeGridRowGroup/index.ts
  packages/react-tree-grid/src/contexts/TreeGridRowContext.ts
  packages/react-tree-grid/src/index.ts
  packages/react-tree-grid/src/utils/types.ts
  packages/react-tree-grid/stories/Default.stories.tsx
  packages/react-tree-grid/stories/Meetings.stories.tsx
  packages/react-tree-grid/stories/Virtualization.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
  yarn.lock
Owners: @microsoft/fluentui-react-build

feat(react-tree-grid): adds virtualization support (#96)
  package.json
  packages/react-tree-grid/package.json
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.tsx
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.types.ts
  packages/react-tree-grid/src/components/TreeGrid/index.ts
  packages/react-tree-grid/src/components/TreeGridCell/TreeGridCell.tsx
  packages/react-tree-grid/src/components/TreeGridCell/TreeGridCell.types.ts
  packages/react-tree-grid/src/components/TreeGridCell/index.ts
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.tsx
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.types.ts
  packages/react-tree-grid/src/components/TreeGridRowGroup/TreGridRow.types.ts
  packages/react-tree-grid/src/components/TreeGridRowGroup/TreeGridRowGroup.tsx
  packages/react-tree-grid/src/components/TreeGridRowGroup/index.ts
  packages/react-tree-grid/src/contexts/TreeGridRowContext.ts
  packages/react-tree-grid/src/index.ts
  packages/react-tree-grid/src/utils/types.ts
  packages/react-tree-grid/stories/Default.stories.tsx
  packages/react-tree-grid/stories/Meetings.stories.tsx
  packages/react-tree-grid/stories/Virtualization.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
  yarn.lock
Owners: @microsoft/fluentui-react-build

feature(react-tree-grid): TreeGridInteraction component
  packages/react-tree-grid/package.json
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.tsx
  packages/react-tree-grid/src/components/TreeGridInteraction/TreeGridInteraction.tsx
  packages/react-tree-grid/src/components/TreeGridInteraction/TreeGridInteraction.types.ts
  packages/react-tree-grid/src/components/TreeGridInteraction/index.ts
  packages/react-tree-grid/src/index.ts
  packages/react-tree-grid/stories/Interaction.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
Owners: none

chore(react-tree-grid): adds playwright component tests
  packages/react-tree-grid/jest.config.ts
  packages/react-tree-grid/playwright.config.ts
  packages/react-tree-grid/playwright/index.html
  packages/react-tree-grid/playwright/index.ts
  packages/react-tree-grid/project.json
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.spec.tsx
  packages/react-tree-grid/src/components/TreeGrid/TreeGridExample.spec.tsx
Owners: none

feat(nx-plugin): redo playwright executor
  .vscode/extensions.json
  nx.json
  package.json
  packages/nx-plugin/src/executors/playwright/executor.ts
  packages/nx-plugin/src/executors/playwright/schema.d.ts
  packages/nx-plugin/src/executors/playwright/schema.json
  packages/react-tree-grid/.eslintrc.json
  packages/react-tree-grid/playwright.config.ts
  packages/react-tree-grid/project.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/teams-prg

chore(nx): add component-test target defaults
  nx.json
Owners: @microsoft/fluentui-react-build

chore: add playwright vscode extension
  .vscode/extensions.json
Owners: none

chore(repo): add playwright eslint plugin
  package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build

feat(nx-plugin): update playwright CT generator with new target and eslint setup
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright.config.ts.template
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.spec.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.ts
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build

fix(nx-plugin): port all schema options from nx/playwright and make our executor work
  packages/nx-plugin/src/executors/playwright/executor.ts
  packages/nx-plugin/src/executors/playwright/schema.d.ts
  packages/nx-plugin/src/executors/playwright/schema.json
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build

style: format files
  nx.json
  packages/nx-plugin/src/executors/playwright/schema.json
Owners: @microsoft/fluentui-react-build, @microsoft/teams-prg

test: remove only
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.spec.ts
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build

feat(react-draggable-dialog): create draggable dialog with handle (#78)
  package.json
  packages/react-draggable-dialog/package.json
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.styles.ts
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialog/utils.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.styles.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/index.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.styles.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/index.ts
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
  packages/react-draggable-dialog/src/index.ts
  packages/react-draggable-dialog/stories/DraggableDialog/Default.stories.tsx
  yarn.lock
Owners: @microsoft/cxe-prg, @marcosmoura, @microsoft/fluentui-react-build

feature(react-tree-grid): TreeGridInteraction component (#97)
  packages/react-tree-grid/package.json
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.tsx
  packages/react-tree-grid/src/components/TreeGridInteraction/TreeGridInteraction.tsx
  packages/react-tree-grid/src/components/TreeGridInteraction/TreeGridInteraction.types.ts
  packages/react-tree-grid/src/components/TreeGridInteraction/index.ts
  packages/react-tree-grid/src/index.ts
  packages/react-tree-grid/stories/Interaction.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
Owners: none

feat(nx-plugin): redo playwright executor/generator setup to accept all nx flags and make it work (#102)
  .vscode/extensions.json
  nx.json
  package.json
  packages/nx-plugin/src/executors/playwright/executor.ts
  packages/nx-plugin/src/executors/playwright/schema.d.ts
  packages/nx-plugin/src/executors/playwright/schema.json
  packages/nx-plugin/src/generators/playwright-component-configuration/files/playwright.config.ts.template
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.spec.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.ts
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/teams-prg

chore(react-tree-grid): add role="application" on decorator
  packages/react-tree-grid/.storybook/preview.tsx
Owners: none

chore(react-tree-grid): add role="application" on decorator (#103)
  packages/react-tree-grid/.storybook/preview.tsx
Owners: none

turn react-chat into components
  packages/react-chat/package.json
  packages/react-chat/src/components/Chat/Chat.styles.ts
  packages/react-chat/src/components/Chat/Chat.tsx
  packages/react-chat/src/components/Chat/Chat.types.ts
  packages/react-chat/src/components/Chat/index.ts
  packages/react-chat/src/components/Chat/renderChat.tsx
  packages/react-chat/src/components/Chat/useChat.ts
  packages/react-chat/src/components/Chat/useChatMoverAttribute.tsx
  packages/react-chat/src/components/Chat/useChatStyles.styles.ts
  packages/react-chat/src/components/index.ts
  packages/react-chat/src/index.ts
Owners: @microsoft/teams-prg

Change files
  change/@fluentui-contrib-react-chat-5eb5e51c-153e-45e6-807e-b3194417e024.json
Owners: none

minor(react-data-grid-react-window-grid): use VaraiableSizeGrid for body and VariableSizeList for header
  packages/react-data-grid-react-window-grid/README.md
  packages/react-data-grid-react-window-grid/src/components/DataGrid/renderDataGrid.tsx
  packages/react-data-grid-react-window-grid/src/components/DataGridBody/DataGridBody.types.ts
  packages/react-data-grid-react-window-grid/src/components/DataGridBody/renderDataGridBody.tsx
  packages/react-data-grid-react-window-grid/src/components/DataGridHeaderRow/DataGridHeaderRow.types.ts
  packages/react-data-grid-react-window-grid/src/components/DataGridHeaderRow/renderDataGridHeaderRow.tsx
  packages/react-data-grid-react-window-grid/src/contexts/bodyRefContext.ts
  packages/react-data-grid-react-window-grid/src/contexts/headerListRefContext.ts
  packages/react-data-grid-react-window-grid/stories/DataGrid/VirtualizedDataGrid.stories.tsx
Owners: @microsoft/ms-fabric

Change files
  change/@fluentui-contrib-react-data-grid-react-window-grid-746c1842-7b7b-4440-9d26-b7bcb5babe31.json
Owners: none

feat(react-data-grid-react-window-grid): use VaraiableSizeGrid for body and VariableSizeList for header (#105)
  change/@fluentui-contrib-react-data-grid-react-window-grid-746c1842-7b7b-4440-9d26-b7bcb5babe31.json
  packages/react-data-grid-react-window-grid/README.md
  packages/react-data-grid-react-window-grid/src/components/DataGrid/renderDataGrid.tsx
  packages/react-data-grid-react-window-grid/src/components/DataGridBody/DataGridBody.types.ts
  packages/react-data-grid-react-window-grid/src/components/DataGridBody/renderDataGridBody.tsx
  packages/react-data-grid-react-window-grid/src/components/DataGridHeaderRow/DataGridHeaderRow.types.ts
  packages/react-data-grid-react-window-grid/src/components/DataGridHeaderRow/renderDataGridHeaderRow.tsx
  packages/react-data-grid-react-window-grid/src/contexts/bodyRefContext.ts
  packages/react-data-grid-react-window-grid/src/contexts/headerListRefContext.ts
  packages/react-data-grid-react-window-grid/stories/DataGrid/VirtualizedDataGrid.stories.tsx
Owners: @microsoft/ms-fabric

feat(react-draggable-dialog): split component logic into separate hooks
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialog/useDraggableDialog.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
Owners: @microsoft/cxe-prg, @marcosmoura

feat: add warning when draggable subcomponents are not used inside the main draggable
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
  packages/react-draggable-dialog/src/utils/assertDialogParent.ts
Owners: @microsoft/cxe-prg, @marcosmoura

Discard changes to packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: add missing prop
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
Owners: @microsoft/cxe-prg, @marcosmoura

remove invalid props
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
Owners: @microsoft/cxe-prg, @marcosmoura

add missing props
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: remove unnecessary hook
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
Owners: @microsoft/cxe-prg, @marcosmoura

chore(react-tree-grid): creates stories for better documenting
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.tsx
  packages/react-tree-grid/src/components/TreeGrid/useTreeGridStyles.styles.ts
  packages/react-tree-grid/src/components/TreeGridCell/TreeGridCell.tsx
  packages/react-tree-grid/src/components/TreeGridCell/useTreeGridCellStyles.styles.ts
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.tsx
  packages/react-tree-grid/src/components/TreeGridRow/useTreeGridRowStyles.styles.ts
  packages/react-tree-grid/stories/Default.stories.tsx
  packages/react-tree-grid/stories/EmailInbox.stories.tsx
  packages/react-tree-grid/stories/Interaction.stories.tsx
  packages/react-tree-grid/stories/Meet.stories.tsx
  packages/react-tree-grid/stories/Meetings.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
Owners: none

test: add unit test to cover base state scenarios
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.test.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

test: add unit test to cover base state scenarios
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

feat(react-draggable-dialog): split component logic into separate hooks (#106)
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialog/useDraggableDialog.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
Owners: @microsoft/cxe-prg, @marcosmoura

feat: add warning when draggable subcomponents are not used inside the main draggable
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
Owners: @microsoft/cxe-prg, @marcosmoura

test: add unit test to cover base state scenarios
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.test.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

use new slot api
  packages/react-chat/src/components/ChatMessage/renderChatMessage.tsx
  packages/react-chat/src/components/ChatMessage/useChatMessage.ts
  packages/react-chat/src/components/ChatMyMessage/renderChatMyMessage.tsx
  packages/react-chat/src/components/ChatMyMessage/useChatMyMessage.tsx
Owners: @microsoft/teams-prg

add dependency into package.json
  packages/react-chat/package.json
Owners: @microsoft/teams-prg

Change files
  change/@fluentui-contrib-react-chat-8b525164-bd14-41d1-b21f-e1bcc2a2a54b.json
Owners: none
