Repository microsoft/fluentui-contrib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-prg, @microsoft/fluentui-react-build, @microsoft/ms-fabric, @microsoft/cxe-prg, @marcosmoura, @spmonahan

chore(react-tree-grid): creates stories for better documenting (#108)
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.tsx
  packages/react-tree-grid/src/components/TreeGrid/useTreeGridStyles.styles.ts
  packages/react-tree-grid/src/components/TreeGridCell/TreeGridCell.tsx
  packages/react-tree-grid/src/components/TreeGridCell/useTreeGridCellStyles.styles.ts
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.tsx
  packages/react-tree-grid/src/components/TreeGridRow/useTreeGridRowStyles.styles.ts
  packages/react-tree-grid/stories/Default.stories.tsx
  packages/react-tree-grid/stories/EmailInbox.stories.tsx
  packages/react-tree-grid/stories/Interaction.stories.tsx
  packages/react-tree-grid/stories/Meet.stories.tsx
  packages/react-tree-grid/stories/Meetings.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
Owners: none

chore(react-chat): use composition hook for Chat (#104)
  change/@fluentui-contrib-react-chat-5eb5e51c-153e-45e6-807e-b3194417e024.json
  packages/react-chat/package.json
  packages/react-chat/src/components/Chat/Chat.styles.ts
  packages/react-chat/src/components/Chat/Chat.tsx
  packages/react-chat/src/components/Chat/Chat.types.ts
  packages/react-chat/src/components/Chat/index.ts
  packages/react-chat/src/components/Chat/renderChat.tsx
  packages/react-chat/src/components/Chat/useChat.ts
  packages/react-chat/src/components/Chat/useChatMoverAttribute.tsx
  packages/react-chat/src/components/Chat/useChatStyles.styles.ts
  packages/react-chat/src/components/index.ts
  packages/react-chat/src/index.ts
Owners: @microsoft/teams-prg

chore(react-chat): change ChatMessage/ChatMyMessage to new slot api (#112)
  change/@fluentui-contrib-react-chat-8b525164-bd14-41d1-b21f-e1bcc2a2a54b.json
  packages/react-chat/src/components/ChatMessage/renderChatMessage.tsx
  packages/react-chat/src/components/ChatMessage/useChatMessage.ts
  packages/react-chat/src/components/ChatMyMessage/renderChatMyMessage.tsx
  packages/react-chat/src/components/ChatMyMessage/useChatMyMessage.tsx
Owners: @microsoft/teams-prg

applying package updates
  change/@fluentui-contrib-react-chat-5eb5e51c-153e-45e6-807e-b3194417e024.json
  change/@fluentui-contrib-react-chat-8b525164-bd14-41d1-b21f-e1bcc2a2a54b.json
  change/@fluentui-contrib-react-data-grid-react-window-grid-746c1842-7b7b-4440-9d26-b7bcb5babe31.json
  packages/react-chat/CHANGELOG.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/react-data-grid-react-window-grid/CHANGELOG.json
  packages/react-data-grid-react-window-grid/CHANGELOG.md
  packages/react-data-grid-react-window-grid/package.json
Owners: @microsoft/teams-prg, @microsoft/ms-fabric

fix: move object to the top
  packages/react-draggable-dialog/src/components/DraggableDialog/useDraggableDialog.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: rename prop
  packages/react-draggable-dialog/src/components/DraggableDialog/useDraggableDialog.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
Owners: @microsoft/cxe-prg, @marcosmoura

test(react-draggable-dialog): add basic test cases (#107)
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialog/useDraggableDialog.ts
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/useDraggableDialogHandle.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/useDraggableDialogSurface.ts
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
  packages/react-draggable-dialog/src/utils/assertDialogParent.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: prop name
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.test.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

fix: prop name
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.test.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

chore(react-tree-grid): adds TODO list story
  packages/react-tree-grid/.storybook/main.ts
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.tsx
  packages/react-tree-grid/src/contexts/TreeGridRowContext.ts
  packages/react-tree-grid/stories/Docs.mdx
  packages/react-tree-grid/stories/EmailInbox.stories.tsx
  packages/react-tree-grid/stories/Interaction.stories.tsx
  packages/react-tree-grid/stories/TodoList.stories.tsx
  packages/react-tree-grid/stories/Virtualization.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
Owners: none

test(react-draggable-dialog): add test cases for DraggableDialog (#109)
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.test.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

test(react-draggable-dialog): add test cases for DraggableDialogSurface (#111)
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.test.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

test(react-draggable-dialog): add test cases for DraggableDialogHandle (#110)
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.test.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

remove useChatMessageFocusableGroup
  packages/react-chat/src/components/ChatMessage/useChatMessage.ts
  packages/react-chat/src/components/ChatMyMessage/useChatMyMessage.tsx
  packages/react-chat/src/components/utils/useChatMessageFocusableGroup.ts
Owners: @microsoft/teams-prg

Change files
  change/@fluentui-contrib-react-chat-1eda0ba1-f36e-43ec-87f0-a4b9f5437c1a.json
Owners: none

UT
  packages/react-chat/src/components/ChatMessage/ChatMessage.test.tsx
  packages/react-chat/src/components/ChatMyMessage/ChatMyMessage.test.tsx
Owners: @microsoft/teams-prg

fix(react-chat): allow custom tabster attribute on ChatMessage (#115)
  change/@fluentui-contrib-react-chat-1eda0ba1-f36e-43ec-87f0-a4b9f5437c1a.json
  packages/react-chat/src/components/ChatMessage/ChatMessage.test.tsx
  packages/react-chat/src/components/ChatMessage/useChatMessage.ts
  packages/react-chat/src/components/ChatMyMessage/ChatMyMessage.test.tsx
  packages/react-chat/src/components/ChatMyMessage/useChatMyMessage.tsx
  packages/react-chat/src/components/utils/useChatMessageFocusableGroup.ts
Owners: @microsoft/teams-prg

applying package updates
  change/@fluentui-contrib-react-chat-1eda0ba1-f36e-43ec-87f0-a4b9f5437c1a.json
  packages/react-chat/CHANGELOG.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Owners: @microsoft/teams-prg

remove dead code
  packages/react-shadow/src/root.tsx
Owners: @microsoft/teams-prg

Change files
  change/@fluentui-contrib-react-shadow-303fd60a-1bad-4202-89fa-faa191289d74.json
Owners: none

feat: add 'createRoot()' function to enable insertion points.
  packages/react-shadow/src/constants.ts
  packages/react-shadow/src/index.ts
  packages/react-shadow/src/root.tsx
  packages/react-shadow/src/types.ts
  packages/react-shadow/src/util.ts
  packages/react-shadow/stories/root/InsertionPoint.stories.tsx
Owners: @microsoft/teams-prg

bump @griffel/shadow-dom
  package.json
  packages/react-shadow/package.json
  yarn.lock
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build

cast
  packages/react-shadow/src/root.tsx
Owners: @microsoft/teams-prg

PR feedback
  packages/react-shadow/src/constants.ts
  packages/react-shadow/src/root.tsx
  packages/react-shadow/src/util.ts
  packages/react-shadow/stories/root/InsertionPoint.stories.tsx
Owners: @microsoft/teams-prg

feat: add "insertion point" API to `react-shadow`
  packages/react-shadow/src/constants.ts
  packages/react-shadow/src/index.ts
  packages/react-shadow/src/root.tsx
  packages/react-shadow/src/util.ts
  packages/react-shadow/stories/root/InsertionPoint.stories.tsx
  packages/react-shadow/stories/root/index.stories.tsx
Owners: @microsoft/teams-prg

chore(react-tree-grid): adds TODO list story (#114)
  packages/react-tree-grid/.storybook/main.ts
  packages/react-tree-grid/src/components/TreeGridRow/TreeGridRow.tsx
  packages/react-tree-grid/src/contexts/TreeGridRowContext.ts
  packages/react-tree-grid/stories/Docs.mdx
  packages/react-tree-grid/stories/EmailInbox.stories.tsx
  packages/react-tree-grid/stories/Interaction.stories.tsx
  packages/react-tree-grid/stories/TodoList.stories.tsx
  packages/react-tree-grid/stories/Virtualization.stories.tsx
  packages/react-tree-grid/stories/index.stories.tsx
Owners: none

fix(nx-plugin): generate valid playwright executor target options
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.spec.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.ts
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build

fix(nx-plugin): generate valid playwright executor target options (#116)
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.spec.ts
  packages/nx-plugin/src/generators/playwright-component-configuration/generator.ts
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build

chore(react-tree-grid): adds playwright component tests
  packages/react-tree-grid/.eslintrc.json
  packages/react-tree-grid/jest.config.ts
  packages/react-tree-grid/playwright.config.ts
  packages/react-tree-grid/playwright/index.html
  packages/react-tree-grid/playwright/index.tsx
  packages/react-tree-grid/project.json
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.spec.tsx
  packages/react-tree-grid/src/components/TreeGrid/TreeGridExample.spec.tsx
Owners: none

chore(react-tree-grid): adds playwright component tests (#100)
  packages/react-tree-grid/.eslintrc.json
  packages/react-tree-grid/jest.config.ts
  packages/react-tree-grid/playwright.config.ts
  packages/react-tree-grid/playwright/index.html
  packages/react-tree-grid/playwright/index.tsx
  packages/react-tree-grid/project.json
  packages/react-tree-grid/src/components/TreeGrid/TreeGrid.spec.tsx
  packages/react-tree-grid/src/components/TreeGrid/TreeGridExample.spec.tsx
Owners: none

.github/CODEOWNERS:

#### Packages
packages/react-chat/ @microsoft/teams-prg
packages/react-data-grid-react-window/ @microsoft/teams-prg
packages/react-shadow/ @microsoft/teams-prg
packages/nx-plugin/ @microsoft/teams-prg @microsoft/fluentui-react-build
packages/react-data-grid-react-window-grid/ @microsoft/ms-fabric
packages/react-draggable-dialog/ @microsoft/cxe-prg @marcosmoura
packages/pierce-dom @spmonahan
# <%= NX-CODEOWNER-PLACEHOLDER %>

#### Build/Infra
/.github/ @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/beachball.config.js @microsoft/fluentui-react-build
/beachball.hooks.js @microsoft/fluentui-react-build
/babel.config.json @microsoft/fluentui-react-build
/jest.config.ts @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/nx.json @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.prettierignore @microsoft/fluentui-react-build
/.prettierrc @microsoft/fluentui-react-build
/.editorconfig @microsoft/fluentui-react-build
/.eslintignore @microsoft/fluentui-react-build
/.eslintrc.json @microsoft/fluentui-react-build
/.yarnrc @microsoft/fluentui-react-build
/.yarn/ @microsoft/fluentui-react-build

#### License and READMEs
/LICENSE @microsoft/teams-prg
/README.md @microsoft/teams-prg @microsoft/fluentui-react-build
/CONTRIBUTING.md @microsoft/teams-prg
/CODE_OF_CONDUCT.md @microsoft/teams-prg
/SECURITY.md @microsoft/teams-prg
/SUPPORT.md @microsoft/teams-prg
