Repository microsoft/fluentui-contrib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-prg, @microsoft/fluentui-react-build, @microsoft/ms-fabric, @microsoft/cxe-prg, @marcosmoura, @spmonahan

fix: explicit exports
  packages/react-draggable-dialog/src/index.ts
Owners: @microsoft/cxe-prg, @marcosmoura

useShadowDOMSupport() hook.
  packages/pierce-dom/package.json
  packages/pierce-dom/src/index.ts
Owners: @spmonahan

Bumping react-components and removing explicit tabster dependency.
  package.json
  packages/pierce-dom/package.json
  yarn.lock
Owners: @spmonahan, @microsoft/fluentui-react-build

Fixing the test.
  packages/nx-plugin/src/generators/library/generator.spec.ts
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build

Making linter happy.
  packages/pierce-dom/package.json
Owners: @spmonahan

A bit of README.
  packages/pierce-dom/README.md
Owners: @spmonahan

useShadowDOMSupport() hook. (#91)
  package.json
  packages/nx-plugin/src/generators/library/generator.spec.ts
  packages/pierce-dom/README.md
  packages/pierce-dom/package.json
  packages/pierce-dom/src/index.ts
  yarn.lock
Owners: @microsoft/teams-prg, @microsoft/fluentui-react-build, @spmonahan

Delete packages/react-draggable-dialog/src/components/DraggableDialog/useDraggableDialog.ts
  packages/react-draggable-dialog/src/components/DraggableDialog/useDraggableDialog.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: improve property handling
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

fix: improve return value to be more explicit
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

fix: undo reordering
  package.json
Owners: none

fix: undo reordering
  packages/react-draggable-dialog/package.json
Owners: @microsoft/cxe-prg, @marcosmoura

fix: remove unnecessary file and merge it with context
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.tsx
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.tsx
  packages/react-draggable-dialog/src/contexts/DraggableDialogContext.ts
  packages/react-draggable-dialog/src/hooks/useDraggableDialog.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: expose types alongside with components
  packages/react-draggable-dialog/src/index.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: move const outside of function call
  packages/react-draggable-dialog/src/components/DraggableDialog/utils.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: use correct types for children element for React
  packages/react-draggable-dialog/src/components/DraggableDialogHandle/DraggableDialogHandle.types.ts
  packages/react-draggable-dialog/src/components/DraggableDialogSurface/DraggableDialogSurface.types.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: make announcements props optional in case they are undefined
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

fix: make announcements props optional in case they are undefined
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

fix: simplify logic
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

fix: code formatting
  packages/react-draggable-dialog/package.json
  packages/react-draggable-dialog/src/components/DraggableDialog/utils.ts
Owners: @microsoft/cxe-prg, @marcosmoura

fix: create memo to not recreate object every time
  packages/react-draggable-dialog/src/components/DraggableDialog/DraggableDialog.tsx
Owners: @microsoft/cxe-prg, @marcosmoura

applying package updates
  change/@fluentui-contrib-react-headless-provider-04ae5ded-4e21-4711-872b-dfd27f48e205.json
  change/@fluentui-contrib-react-resize-handle-fbab8534-342b-4a6e-8049-bcb49148efd3.json
  packages/react-headless-provider/CHANGELOG.json
  packages/react-headless-provider/CHANGELOG.md
  packages/react-headless-provider/package.json
  packages/react-resize-handle/CHANGELOG.json
  packages/react-resize-handle/CHANGELOG.md
  packages/react-resize-handle/package.json
Owners: none

Removing private flag from the pierce-dom package.
  packages/pierce-dom/package.json
Owners: @spmonahan

Change files
  change/@fluentui-contrib-pierce-dom-3f60f058-f0b4-418f-9655-a1cdd41dd834.json
Owners: none

Removing private flag from the pierce-dom package. (#92)
  change/@fluentui-contrib-pierce-dom-3f60f058-f0b4-418f-9655-a1cdd41dd834.json
  packages/pierce-dom/package.json
Owners: @spmonahan

applying package updates
  change/@fluentui-contrib-pierce-dom-3f60f058-f0b4-418f-9655-a1cdd41dd834.json
  packages/pierce-dom/CHANGELOG.json
Owners: @spmonahan

Bumping pierce-dom.
  packages/pierce-dom/package.json
Owners: @spmonahan

Change files
  change/@fluentui-contrib-pierce-dom-0e4ce8c5-b3cb-4a25-b47d-cdc504e6355b.json
Owners: none

Pierce dom bump (#94)
  change/@fluentui-contrib-pierce-dom-0e4ce8c5-b3cb-4a25-b47d-cdc504e6355b.json
  packages/pierce-dom/package.json
Owners: @spmonahan

applying package updates
  change/@fluentui-contrib-pierce-dom-0e4ce8c5-b3cb-4a25-b47d-cdc504e6355b.json
  packages/pierce-dom/CHANGELOG.json
  packages/pierce-dom/CHANGELOG.md
  packages/pierce-dom/package.json
Owners: @spmonahan

chore: nx migrate to v17.3
  .eslintrc.json
  .gitignore
  .verdaccio/config.yml
  change/@fluentui-contrib-pierce-dom-c2c2dc72-4c94-44e7-9e25-a9c65c43d425.json
  change/@fluentui-contrib-react-chat-d5300040-afd7-4308-9439-e4eca2da381d.json
  change/@fluentui-contrib-react-data-grid-react-window-b5f1ca09-e89f-4424-b652-6b5027efc0ba.json
  change/@fluentui-contrib-react-data-grid-react-window-grid-4dd22846-df88-409f-9097-886df10481ed.json
  change/@fluentui-contrib-react-headless-provider-f79b73f6-91b8-481a-b9ad-961b4eb163b8.json
  change/@fluentui-contrib-react-resize-handle-d7f20125-10a8-4b15-8494-62241cb2260d.json
  change/@fluentui-contrib-react-shadow-65414dcd-fd5f-4ba7-a1ab-a04c16a762b9.json
  migrations.json
  package.json
  packages/nx-plugin/src/generators/configure-storybook/files/.babelrc.template
  packages/nx-plugin/src/generators/configure-storybook/generator.ts
  packages/nx-plugin/src/generators/library/generator.spec.ts
  packages/pierce-dom/.babelrc
  packages/react-chat/.babelrc
  packages/react-data-grid-react-window-grid/.babelrc
  packages/react-data-grid-react-window-grid/src/components/DataGridHeaderRow/DataGridHeaderRow.types.ts
  packages/react-data-grid-react-window-grid/src/contexts/headerListRefContext.ts
  packages/react-data-grid-react-window-grid/stories/DataGrid/index.stories.tsx
  packages/react-data-grid-react-window/.babelrc
  packages/react-draggable-dialog/.babelrc
  packages/react-draggable-dialog/stories/DraggableDialog/index.stories.tsx
  packages/react-headless-provider/.babelrc
  packages/react-resize-handle/.babelrc
  packages/react-shadow/.babelrc
  packages/react-tree-grid/.babelrc
  patches/@storybook+source-loader+7.0.26.patch
  project.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/teams-prg, @spmonahan, @microsoft/ms-fabric, @microsoft/cxe-prg, @marcosmoura

chore: nx migrate to v17.3 (#90)
  .eslintrc.json
  .gitignore
  .verdaccio/config.yml
  change/@fluentui-contrib-pierce-dom-c2c2dc72-4c94-44e7-9e25-a9c65c43d425.json
  change/@fluentui-contrib-react-chat-d5300040-afd7-4308-9439-e4eca2da381d.json
  change/@fluentui-contrib-react-data-grid-react-window-b5f1ca09-e89f-4424-b652-6b5027efc0ba.json
  change/@fluentui-contrib-react-data-grid-react-window-grid-4dd22846-df88-409f-9097-886df10481ed.json
  change/@fluentui-contrib-react-headless-provider-f79b73f6-91b8-481a-b9ad-961b4eb163b8.json
  change/@fluentui-contrib-react-resize-handle-d7f20125-10a8-4b15-8494-62241cb2260d.json
  change/@fluentui-contrib-react-shadow-65414dcd-fd5f-4ba7-a1ab-a04c16a762b9.json
  migrations.json
  package.json
  packages/nx-plugin/src/generators/configure-storybook/files/.babelrc.template
  packages/nx-plugin/src/generators/configure-storybook/generator.ts
  packages/nx-plugin/src/generators/library/generator.spec.ts
  packages/pierce-dom/.babelrc
  packages/react-chat/.babelrc
  packages/react-data-grid-react-window-grid/.babelrc
  packages/react-data-grid-react-window-grid/src/components/DataGridHeaderRow/DataGridHeaderRow.types.ts
  packages/react-data-grid-react-window-grid/src/contexts/headerListRefContext.ts
  packages/react-data-grid-react-window-grid/stories/DataGrid/index.stories.tsx
  packages/react-data-grid-react-window/.babelrc
  packages/react-draggable-dialog/.babelrc
  packages/react-draggable-dialog/stories/DraggableDialog/index.stories.tsx
  packages/react-headless-provider/.babelrc
  packages/react-resize-handle/.babelrc
  packages/react-shadow/.babelrc
  packages/react-tree-grid/.babelrc
  patches/@storybook+source-loader+7.0.26.patch
  project.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/teams-prg, @spmonahan, @microsoft/ms-fabric, @microsoft/cxe-prg, @marcosmoura

expose renderDataGrid and useDataGrid
  packages/react-data-grid-react-window-grid/src/components/DataGrid/DataGrid.tsx
  packages/react-data-grid-react-window-grid/src/components/DataGrid/index.ts
  packages/react-data-grid-react-window-grid/src/components/DataGrid/renderDataGrid.tsx
  packages/react-data-grid-react-window-grid/src/index.ts
Owners: @microsoft/ms-fabric

Change files
  change/@fluentui-contrib-react-data-grid-react-window-grid-2ae0182e-9af4-4ed0-b8f1-c002f5e3c54f.json
Owners: none

export explicitly improve tree-shakeability
  packages/react-data-grid-react-window-grid/src/index.ts
Owners: @microsoft/ms-fabric

yarn nx format
  packages/react-data-grid-react-window-grid/src/index.ts
Owners: @microsoft/ms-fabric

minor(react-data-grid-react-window-grid): expose renderDataGrid and useDataGrid (#98)
  change/@fluentui-contrib-react-data-grid-react-window-grid-2ae0182e-9af4-4ed0-b8f1-c002f5e3c54f.json
  packages/react-data-grid-react-window-grid/src/components/DataGrid/DataGrid.tsx
  packages/react-data-grid-react-window-grid/src/components/DataGrid/index.ts
  packages/react-data-grid-react-window-grid/src/components/DataGrid/renderDataGrid.tsx
  packages/react-data-grid-react-window-grid/src/index.ts
Owners: @microsoft/ms-fabric

applying package updates
  change/@fluentui-contrib-pierce-dom-c2c2dc72-4c94-44e7-9e25-a9c65c43d425.json
  change/@fluentui-contrib-react-chat-d5300040-afd7-4308-9439-e4eca2da381d.json
  change/@fluentui-contrib-react-data-grid-react-window-b5f1ca09-e89f-4424-b652-6b5027efc0ba.json
  change/@fluentui-contrib-react-data-grid-react-window-grid-2ae0182e-9af4-4ed0-b8f1-c002f5e3c54f.json
  change/@fluentui-contrib-react-data-grid-react-window-grid-4dd22846-df88-409f-9097-886df10481ed.json
  change/@fluentui-contrib-react-headless-provider-f79b73f6-91b8-481a-b9ad-961b4eb163b8.json
  change/@fluentui-contrib-react-resize-handle-d7f20125-10a8-4b15-8494-62241cb2260d.json
  change/@fluentui-contrib-react-shadow-65414dcd-fd5f-4ba7-a1ab-a04c16a762b9.json
  packages/pierce-dom/CHANGELOG.json
  packages/react-chat/CHANGELOG.json
  packages/react-data-grid-react-window-grid/CHANGELOG.json
  packages/react-data-grid-react-window-grid/CHANGELOG.md
  packages/react-data-grid-react-window-grid/package.json
  packages/react-data-grid-react-window/CHANGELOG.json
  packages/react-headless-provider/CHANGELOG.json
  packages/react-resize-handle/CHANGELOG.json
  packages/react-shadow/CHANGELOG.json
Owners: @spmonahan, @microsoft/teams-prg, @microsoft/ms-fabric

chore: migrate to nx 17.3.2
  package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build

chore: migrate to nx 17.3.2 (#99)
  package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build

.github/CODEOWNERS:

#### Packages
packages/react-chat/ @microsoft/teams-prg
packages/react-data-grid-react-window/ @microsoft/teams-prg
packages/react-shadow/ @microsoft/teams-prg
packages/nx-plugin/ @microsoft/teams-prg @microsoft/fluentui-react-build
packages/react-data-grid-react-window-grid/ @microsoft/ms-fabric
packages/react-draggable-dialog/ @microsoft/cxe-prg @marcosmoura
packages/pierce-dom @spmonahan
# <%= NX-CODEOWNER-PLACEHOLDER %>

#### Build/Infra
/.github/ @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/beachball.config.js @microsoft/fluentui-react-build
/beachball.hooks.js @microsoft/fluentui-react-build
/babel.config.json @microsoft/fluentui-react-build
/jest.config.ts @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/nx.json @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.prettierignore @microsoft/fluentui-react-build
/.prettierrc @microsoft/fluentui-react-build
/.editorconfig @microsoft/fluentui-react-build
/.eslintignore @microsoft/fluentui-react-build
/.eslintrc.json @microsoft/fluentui-react-build
/.yarnrc @microsoft/fluentui-react-build
/.yarn/ @microsoft/fluentui-react-build

#### License and READMEs
/LICENSE @microsoft/teams-prg
/README.md @microsoft/teams-prg @microsoft/fluentui-react-build
/CONTRIBUTING.md @microsoft/teams-prg
/CODE_OF_CONDUCT.md @microsoft/teams-prg
/SECURITY.md @microsoft/teams-prg
/SUPPORT.md @microsoft/teams-prg
