Repository microsoft/fluentui-contrib, pull requests merged in 2024-10, with the labels that each got.

#243 feat(react-interactive-tab): prepare initial release
  change/@fluentui-contrib-react-interactive-tab-a981d48f-c6af-490c-b60a-94e87d6a6a10.json
  packages/react-interactive-tab/package.json
Labels: @fluent-contrib/react-interactive-tab

#221 feat(react-keytips): initial implementation
  .syncpackrc
  change/@fluentui-contrib-react-keytips-2c77a34b-1b5c-4d63-a244-ad06854777c9.json
  packages/react-keytips/.eslintrc.json
  packages/react-keytips/README.md
  packages/react-keytips/jest.config.ts
  packages/react-keytips/package.json
  packages/react-keytips/playwright.config.ts
  packages/react-keytips/playwright/index.html
  packages/react-keytips/playwright/index.tsx
  packages/react-keytips/project.json
  packages/react-keytips/src/components/Keytip/Keytip.test.tsx
  packages/react-keytips/src/components/Keytip/Keytip.tsx
  packages/react-keytips/src/components/Keytip/Keytip.types.ts
  packages/react-keytips/src/components/Keytip/index.ts
  packages/react-keytips/src/components/Keytip/renderKeytip.tsx
  packages/react-keytips/src/components/Keytip/useKeytip.tsx
  packages/react-keytips/src/components/Keytip/useKeytipStyles.styles.ts
  packages/react-keytips/src/components/Keytips/Keytips.component-browser-spec.tsx
  packages/react-keytips/src/components/Keytips/Keytips.test.tsx
  packages/react-keytips/src/components/Keytips/Keytips.tsx
  packages/react-keytips/src/components/Keytips/Keytips.types.ts
  packages/react-keytips/src/components/Keytips/KeytipsExamples.component-browser-spec.tsx
  packages/react-keytips/src/components/Keytips/index.ts
  packages/react-keytips/src/components/Keytips/renderKeytips.tsx
  packages/react-keytips/src/components/Keytips/useKeytips.tsx
  packages/react-keytips/src/components/Keytips/useKeytipsState.ts
  packages/react-keytips/src/constants.ts
  packages/react-keytips/src/docs/Spec.md
  packages/react-keytips/src/hooks/useEventService.test.ts
  packages/react-keytips/src/hooks/useEventService.ts
  packages/react-keytips/src/hooks/useHotkeys.test.ts
  packages/react-keytips/src/hooks/useHotkeys.ts
  packages/react-keytips/src/hooks/useKeytipRef.ts
  packages/react-keytips/src/hooks/useTree.test.ts
  packages/react-keytips/src/hooks/useTree.ts
  packages/react-keytips/src/index.ts
  packages/react-keytips/src/utilities/createNode.ts
  packages/react-keytips/src/utilities/index.ts
  packages/react-keytips/src/utilities/isTargetVisible.ts
  packages/react-keytips/src/utilities/omit.ts
  packages/react-keytips/src/utilities/sequencesToID.ts
  packages/react-keytips/stories/.gitkeep
  packages/react-keytips/stories/Default.stories.tsx
  packages/react-keytips/stories/Dynamic.stories.tsx
  packages/react-keytips/stories/OverflowMenu.stories.tsx
  packages/react-keytips/stories/WithTabs.stories.tsx
  packages/react-keytips/stories/index.stories.ts
Labels: @fluentui-contrib/react-keytips

#252 fix: add prefix to packages story titles
  apps/docsite/project.json
  change/@fluentui-contrib-react-keytips-3771f4cd-49f4-48ff-a40a-30cb83e0610f.json
  packages/nx-plugin/src/generators/component/files/stories/__componentName__/index.stories.tsx.template
  packages/nx-plugin/src/generators/component/generator.spec.ts
  packages/react-keytips/stories/index.stories.ts
Labels: documentation, @fluentui-contrib/react-keytips

#251 feat(react-keytips): add invokeEvent prop
  change/@fluentui-contrib-react-keytips-6c388a16-92f8-4352-a0e6-37f7bdd0eb14.json
  packages/react-keytips/src/components/Keytips/Keytips.component-browser-spec.tsx
  packages/react-keytips/src/components/Keytips/Keytips.test.tsx
  packages/react-keytips/src/components/Keytips/Keytips.types.ts
  packages/react-keytips/src/components/Keytips/useKeytips.tsx
  packages/react-keytips/src/docs/MIGRATION.md
  packages/react-keytips/src/hooks/useHotkeys.ts
Labels: @fluentui-contrib/react-keytips

#254 docs(react-keytips): improve keytips for docsite
  change/@fluentui-contrib-react-keytips-a837d56c-a0f7-4c82-a6e8-4acb794f4fc7.json
  packages/react-keytips/src/Keytip.ts
  packages/react-keytips/src/Keytips.ts
  packages/react-keytips/src/index.ts
  packages/react-keytips/stories/Default.stories.tsx
  packages/react-keytips/stories/Dynamic.stories.tsx
  packages/react-keytips/stories/WithTabs.stories.tsx
  packages/react-keytips/stories/index.stories.tsx
Labels: @fluentui-contrib/react-keytips
